html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.forum-page {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
  gap: 20px; /* Adjust spacing between columns */
}

.forum-column {
  flex: 1; /* Each column takes equal space */
  border: 1px solid #ccc; /* Add borders or styling as needed */
  padding: 10px; /* Add padding as needed */
}

.footer {
  background-color: #333; /* Customize background color */
  color: #fff; /* Customize text color */
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
